$line-height-base: 24px;
$baseliner: $line-height-base/4;

html {


}

body {
  line-height: $line-height-base;
  padding-top: $baseliner * 12;
}

.line1, .line2 {
  height: $line-height-base/4;
  width: 100%;
}

.line1 {
  background: rgba(255, 0, 0, 0.2);
}

p {
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
}

// line-heigh of each heading is $baseliner * 4 (or 3) * font-size. line-height
// outcome be an even number to sit on baseline
h1 {
  font-size: 8em;
  line-height: $baseliner * 24;
}

h2 {
  font-size: 5em;
  line-height: $baseliner * 14;
}

.display-1 {
  @extend h2;
}

h3 {
  font-size: 3em;
  line-height: $baseliner * 10;
}

h4 {
  font-size: 2em;
  line-height: $baseliner * 8;
}

small, .font_small {font-size: 0.618em;}

// Buttons

.btn {
  line-height: inherit;
}
