body {
  position: relative;
  height: 100%;
}

@mixin helper-grid() {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000;

  height: 100%;
  pointer-events: none;
  width: 100%;
}

.helper-grid-horizontal {
  @include helper-grid();

  background: url("../img/baselinerbg.png");
  background-repeat: repeat;
}

.helper-grid-vertical {
  @include helper-grid();

  .container {
    height: 100%;
    .row {
      height: 100%;
      .colored-item {
        background: rgba(0, 0, 255, 0.3);
        height: 100%;
      }
    }
  }
}
