.verticalgrid {
  position: absolute;
  top: 0;
  z-index: 1000;

  height: 100%;
  pointer-events: none;
  width: 100%;

  .container {
    height: 100%;
    .row {
      height: 100%;
      .colored-item {
        background: rgba(0, 0, 255, 0.3);
        height: 100%;
        width: 100%;
      }
    }
  }
}
